name: validate

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  validate:
    name: Validate on Node ${{ matrix.node }} and ${{ matrix.os }}
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
    strategy:
      matrix:
        node: [ "20.x", "22.x", "24.x" ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: labd/gh-actions-typescript/pnpm-install@main
        with:
          node-version: ${{ matrix.node }}

      - name: Check formatting and typing
        run: pnpm check

      - name: Run tests
        run: pnpm test:ci

      - name: Run build
        run: pnpm build

  release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.event.pull_request.draft == false
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    environment: release
    needs: validate
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: labd/gh-actions-typescript/pnpm-install@main

      - name: Run build
        run: pnpm build

      - name: Upgrade npm for trusted publishing
        run: npm i -g npm@^11.6.4

      - name: Create and publish versions
        uses: changesets/action@v1
        with:
          title: "Release new version"
          commit: "update version"
          publish: pnpm publish:ci
          version: pnpm publish:version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
